
block variables
	- var i = 1
	- var title = 'Морской порт города Красноастанска'
	-
		var dictMenu = {'Главная': "index.html", 
				'История порта' : "history.html",  
				'Таблица мониторинга': "table.html"
		}
		
	- var listImages = ['pic1.jpg', 'pic2.jpg', 'pic3.jpg']

	- 
		var listSections = [
			{'header' : 'Пассажирские перевозки',
			'text' : 'Морской порт Красноастанска занимается пассажирскими перевозками граждансконо населения по всем популярным маршрутам морского движения и готов в любое время принят на стоянку пассажирский корабль любого размера.',
			'pic' : 'human.jpg'
			},
			{'header' : 'Грузовые перевозки',
			'text' : 'Морской порт Красноастанска также занимается грузовыми перевозками. Клиенты, которые выбрали морской фрахт, отмечают существенные преимущества. Среди них:Относительно низкая стоимость. В сравнении с авиационными перевозками цена грузоперевозок данным видом транспорта на порядок ниже. Соответственно себестоимость товаров, доставленных таким путем, дешевле, а спрос на них – выше. Поэтому реализация бизнес-плана для предпринимателей-заказчиков будет произведена быстрее. Универсальность доставки. Морской борт предназначен для перемещения любых типов грузов – сыпучих веществ, твёрдых и жидких продуктов, сырья, хрупких материалов, негабаритного оборудования, металлов, объектов машиностроения, автомобилей, токсических и опасных грузов;Высокий уровень безопасности. В отличие автомобильных грузоперевозок риск крушений и хищений с борта минимален. Единственное, что представляет угрозу – пиратские нападения, которые время от времени все-таки бывают, но правоохранительные органы международного уровня предпринимают меры по нейтрализации опасности;Огромный товарооборот. Грузоподъемность товарных судов составляет 20-25 тысяч тонн, что позволяет перемещать по морю козловые краны, объекты машиностроения, нефтяные вышки. В среднем на бортах можно разместить от 18 до 250 тысяч контейнеров, наполненных различными товарами.',
			'pic' : 'gruz.png'
			}
		]

	- 
		var listSectionsHistory = [
			{'header' : 'Прошлое',
			'text' : 'История морского порта начинается в далёком 1965 году. Порт был построен для доставки материалов и продовольствия в Красноастанск, а также для вывоза полезных ископаемых из Красноастанска.',
			'pic' : 'pic6.jpg'
			},
			{'header' : 'Настоящее',
			'text' : 'Сегодня порт занимается пассажирскими и грузовыми перевозками, в гораздо больших масштабах, чем раньше. Способствовало развитию порта развитие портовой инфраструктуры и увелечение объёмов добычи полезных ископаемых в шахтах Красноастанска',
			'pic' : 'pic4.jpg'
			},
			{'header' : 'Будущее',
			'text' : 'В будущем порт Красноастанска будет ещё больше, уже сегодня планируются множественные улучшения паромов, создания новых причалов, а также увелеения корабельного оборота. Увелеение добыи в шахта Красноастанска также поспосубствует улучшению порта, а ведь такие проекты находяться уже на стадии разработки.',
			'pic' : 'news3.jpg'
			}
		]

	-
		var listLitlleSection = [
			{'header' : 'Ремонт в северном причале',
			'text' : 'Вчера было объявленно о начале ремонта северного причала, который уже 36 лет  не получал переоборцдвания',
			'pic' : 'news1.jpg'},
			{'header' : 'Рост грузовоперевозок',
			'text' : 'За этот год оборот грузовых суден вырос на 32% по сравнению с прошлым годом, это рост связывают с недавним открытием угольной шахты',
			'pic' : 'news2.jpg'},
			{'header' : 'Смена заместителя',
			'text' : 'Сегодня на почётную пенсию вышел заместител главы порта Анатолий Иванов, который работал в нашем порту 25 лет',
			'pic' : 'news3.jpg'}
		]

	-
		var TableData = [
			{'IMO' : 'Номер ИМО судна',
			'Model' : 'Модель судна',
			'Type' : 'Тип судна',
			'DataArival' : 'Дата прибытия',
			'DataDeparture' : 'Дата отбытия',
			'Capacity' : 'Вместимость(в тоннах для грузовых и в людях для пассажирских)',
			'Loading' : 'Нагруженность'},
			{'IMO' : '1414275',
			'Model' : 'П2094',
			'Type' : 'Пассажирское',
			'DataArival' : '14.10.2023',
			'DataDeparture' : '19.10.2023',
			'Capacity' : '350',
			'Loading' : '257'},
			{'IMO' : '2357175',
			'Model' : 'Г1324',
			'Type' : 'Грузовое',
			'DataArival' : '15.10.2023',
			'DataDeparture' : '18.10.2023',
			'Capacity' : '1200',
			'Loading' : '820'},
			{'IMO' : '9671436',
			'Model' : 'Г4054',
			'Type' : 'Грузовое',
			'DataArival' : '12.10.2023',
			'DataDeparture' : '19.10.2023',
			'Capacity' : '750',
			'Loading' : '653'},
			{'IMO' : '3743283',
			'Model' : 'П1142',
			'Type' : 'Пассажирское',
			'DataArival' : '02.10.2023',
			'DataDeparture' : '11.10.2023',
			'Capacity' : '900',
			'Loading' : '724'},
			{'IMO' : '2513467',
			'Model' : 'Г5512',
			'Type' : 'Груозвое',
			'DataArival' : '15.10.2023',
			'DataDeparture' : '31.10.2023',
			'Capacity' : '2000',
			'Loading' : '1793'},
			{'IMO' : '1695725',
			'Model' : 'П6120',
			'Type' : 'Пассажирское',
			'DataArival' : '10.10.2023',
			'DataDeparture' : '15.10.2023',
			'Capacity' : '4000',
			'Loading' : '3123'},
			{'IMO' : '6134705',
			'Model' : 'П9172',
			'Type' : 'Пассажирское',
			'DataArival' : '07.10.2023',
			'DataDeparture' : '11.10.2023',
			'Capacity' : '1500',
			'Loading' : '1489'},
			{'IMO' : '1054679',
			'Model' : 'Г2812',
			'Type' : 'Грузовое',
			'DataArival' : '17.10.2023',
			'DataDeparture' : '28.10.2023',
			'Capacity' : '400',
			'Loading' : '159'},
			{'IMO' : '6213548',
			'Model' : 'П1142',
			'Type' : 'Пассажирское',
			'DataArival' : '26.10.2023',
			'DataDeparture' : '29.10.2023',
			'Capacity' : '900',
			'Loading' : '675'},
			{'IMO' : '1564097',
			'Model' : 'Г5512',
			'Type' : 'Грузовое',
			'DataArival' : '05.10.2023',
			'DataDeparture' : '13.10.2023',
			'Capacity' : '2000',
			'Loading' : '1363'},
			{'IMO' : '7570629',
			'Model' : 'Г1324',
			'Type' : 'Грузовое',
			'DataArival' : '06.10.2023',
			'DataDeparture' : '12.10.2023',
			'Capacity' : '1200',
			'Loading' : '1121'},
			{'IMO' : '2709501',
			'Model' : 'П2094',
			'Type' : 'Пассажирское',
			'DataArival' : '26.10.2023',
			'DataDeparture' : '29.10.2023',
			'Capacity' : '350',
			'Loading' : '147'},
			{'IMO' : '5132683',
			'Model' : 'Г4054',
			'Type' : 'Грузовое',
			'DataArival' : '19.10.2023',
			'DataDeparture' : '29.10.2023',
			'Capacity' : '750',
			'Loading' : '720'},
			{'IMO' : '9158079',
			'Model' : 'П9172',
			'Type' : 'Пассажирское',
			'DataArival' : '23.10.2023',
			'DataDeparture' : '26.10.2023',
			'Capacity' : '1500',
			'Loading' : '1357'},
			{'IMO' : '7862346',
			'Model' : 'П6120',
			'Type' : 'Пассажирское',
			'DataArival' : '10.10.2023',
			'DataDeparture' : '14.10.2023',
			'Capacity' : '4000',
			'Loading' : '513'},
			{'IMO' : '8910574',
			'Model' : 'Г3012',
			'Type' : 'Грузовое',
			'DataArival' : '14.10.2023',
			'DataDeparture' : '22.10.2023',
			'Capacity' : '4000',
			'Loading' : '372'},
			{'IMO' : '1568490',
			'Model' : 'Г4054',
			'Type' : 'Грузовое',
			'DataArival' : '17.10.2023',
			'DataDeparture' : '21.10.2023',
			'Capacity' : '750',
			'Loading' : '672'},
			{'IMO' : '9041114',
			'Model' : 'П1142',
			'Type' : 'Пассажирское',
			'DataArival' : '03.10.2023',
			'DataDeparture' : '05.10.2023',
			'Capacity' : '900',
			'Loading' : '172'},
			{'IMO' : '9127653',
			'Model' : 'П6120',
			'Type' : 'Пассажирское',
			'DataArival' : '19.10.2023',
			'DataDeparture' : '23.10.2023',
			'Capacity' : '4000',
			'Loading' : '2541'},
			{'IMO' : '2013548',
			'Model' : 'Г2812',
			'Type' : 'Грузовое',
			'DataArival' : '23.10.2023',
			'DataDeparture' : '27.10.2023',
			'Capacity' : '400',
			'Loading' : '291'},
			{'IMO' : '1954687',
			'Model' : 'Г4054',
			'Type' : 'Грузовое',
			'DataArival' : '23.10.2023',
			'DataDeparture' : '26.10.2023',
			'Capacity' : '750',
			'Loading' : '738'},
			{'IMO' : '1527963',
			'Model' : 'П2094',
			'Type' : 'Пассажирское',
			'DataArival' : '19.10.2023',
			'DataDeparture' : '22.10.2023',
			'Capacity' : '350',
			'Loading' : '132'},
			{'IMO' : '7159824',
			'Model' : 'Г1324',
			'Type' : 'Грузовое',
			'DataArival' : '02.10.2023',
			'DataDeparture' : '10.10.2023',
			'Capacity' : '1200',
			'Loading' : '32'},
			{'IMO' : '5624667',
			'Model' : 'П9172',
			'Type' : 'Пассажирское',
			'DataArival' : '18.10.2023',
			'DataDeparture' : '25.10.2023',
			'Capacity' : '1500',
			'Loading' : '1074'},
			{'IMO' : '2079655',
			'Model' : 'Г4054',
			'Type' : 'Грузовое',
			'DataArival' : '01.10.2023',
			'DataDeparture' : '04.10.2023',
			'Capacity' : '750',
			'Loading' : '567'},
			{'IMO' : '1675483',
			'Model' : 'Г3012',
			'Type' : 'Грузовое',
			'DataArival' : '02.10.2023',
			'DataDeparture' : '07.10.2023',
			'Capacity' : '3000',
			'Loading' : '2012'},
			{'IMO' : '8953570',
			'Model' : 'П2094',
			'Type' : 'Пассажирское',
			'DataArival' : '20.10.2023',
			'DataDeparture' : '25.10.2023',
			'Capacity' : '350',
			'Loading' : '14'},
			{'IMO' : '3258916',
			'Model' : 'П1142',
			'Type' : 'Пассажирское',
			'DataArival' : '10.10.2023',
			'DataDeparture' : '17.10.2023',
			'Capacity' : '900',
			'Loading' : '792'},
			{'IMO' : '1092133',
			'Model' : 'П6120',
			'Type' : 'Пассажирское',
			'DataArival' : '01.10.2023',
			'DataDeparture' : '03.10.2023',
			'Capacity' : '4000',
			'Loading' : '2754'},
			{'IMO' : '1746801',
			'Model' : 'Г1324',
			'Type' : 'Грузовое',
			'DataArival' : '27.10.2023',
			'DataDeparture' : '31.10.2023',
			'Capacity' : '1200',
			'Loading' : '1074'},
			{'IMO' : '9154780',
			'Model' : 'Г5512',
			'Type' : 'Грузовое',
			'DataArival' : '09.10.2023',
			'DataDeparture' : '15.10.2023',
			'Capacity' : '2000',
			'Loading' : '124'},
			{'IMO' : '7892546',
			'Model' : 'Г3012',
			'Type' : 'Грузовое',
			'DataArival' : '22.10.2023',
			'DataDeparture' : '29.10.2023',
			'Capacity' : '3000',
			'Loading' : '2980'},
			{'IMO' : '5816383',
			'Model' : 'П9172',
			'Type' : 'Пассажирское',
			'DataArival' : '05.10.2023',
			'DataDeparture' : '12.10.2023',
			'Capacity' : '1500',
			'Loading' : '1320'},
			{'IMO' : '4263579',
			'Model' : 'Г2812',
			'Type' : 'Грузовое',
			'DataArival' : '26.10.2023',
			'DataDeparture' : '29.10.2023',
			'Capacity' : '400',
			'Loading' : '312'},
			{'IMO' : '8956327',
			'Model' : 'Г2812',
			'Type' : 'Грузовое',
			'DataArival' : '13.10.2023',
			'DataDeparture' : '17.10.2023',
			'Capacity' : '400',
			'Loading' : '67'},
			{'IMO' : '3813546',
			'Model' : 'Г4054',
			'Type' : 'Грузовое',
			'DataArival' : '19.10.2023',
			'DataDeparture' : '26.10.2023',
			'Capacity' : '750',
			'Loading' : '667'},
			{'IMO' : '2783546',
			'Model' : 'П9172',
			'Type' : 'Пассажирское',
			'DataArival' : '09.10.2023',
			'DataDeparture' : '11.10.2023',
			'Capacity' : '1500',
			'Loading' : '341'},
			{'IMO' : '6041515',
			'Model' : 'П1142',
			'Type' : 'Пассажирское',
			'DataArival' : '07.10.2023',
			'DataDeparture' : '14.10.2023',
			'Capacity' : '900',
			'Loading' : '810'},
		]


mixin createMenu(menu, active)
	div.searchbar
		input(type="text" name="search")
		img(src="img/lupa.png")
	div.menubar
		div.menucontainer
			div.zagolovok #{title}
			each value, key in menu
				if active == key
					a(href= value, class='active')= key
				else
					a(href= value, class='not_active')= key

mixin createGallery()
	div.gallery
		- i = 1
		each value in listImages
			div(class="img"+i)
				img(src="img/" +value)
				- i++